.breadcrumbs {
  font-size: small;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  margin: 0px;
  font-style: italic;
    border-top: solid #eee 1px;
    border-bottom: solid #eee 1px;
  color: #000;
}
.breadcrumbs a {
  color: #669;
}
.lefttext {
    text-align: left;
}

.breadcrumbs a:hover {
  color: #000;
}

p.cite {
  text-align: right;
  font-size: small;
  font-style: italic;
}

p.cite, p.cite a {
  color: #666;
}

body {
  margin-top: 0px;
  font-family: Georgia, serif;
    font-size: 14px;
  /*text-align: center;*/
}

p {
  line-height: 1.5em;
}

h1, h2, h3 {
  font-weight: 300;
}

h1 {
  font-size: 2.5em;
}

tt {
    font-family: Courier, sans-serif;
    font-weight: 300;
}


td {
    padding-right: 25px;
}
dt {
    margin-top: 10px;
}

a {
    color: #0000CC;
    text-decoration: none;
    /*text-shadow: #999999 0.1em 0.1em 2px;*/
}
a:hover {
    color: #0000CC;
    text-decoration: underline;
    text-shadow: #999999 0.1em 0.1em 2px;
}


.center {
  text-align: center;
}

.thumb {
  width: 200px;
  height: 220px;
  text-align: center;
  float: left;
}

.thumb img {
  width: 200px;
  height: 174px;
  border: none;
}

.clear {
  clear: both;
}
.distance, .land {
    fill: none;
    stroke: #000;
    stroke-width: .5px;
}
.land {
    fill: #eee;
    stroke: none;
}
.countries {
    fill: none;
    stroke: #444;
    stroke-width: .3px;
}
.graticule {
    fill: none;
    stroke: #000;
    stroke-opacity: .5;
    stroke-width: .5px;
}
.outline {
    fill: none;
    stroke: #000;
    stroke-width: 2px;
    pointer-events: all;
}
.cadline {
    fill: none;
    stroke: #aaa;
    stroke-width: 1px;
}
#map {
}
.mouse {
    pointer-events: none;
    font-size: 12px;
}
.label {
    font-family: Helvetica, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    text-anchor: middle;
}
.pointer {
    pointer-events: none;
    fill: none;
    stroke: #000;
    stroke-dasharray: 5,5;
}
.axis path, .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.axis {
    font-size: 0px;
}
svg {
    cursor: crosshair;
}