.breadcrumbs {
  font-size: small;
  text-align: center;
  width: 100%;
  padding: 5px 0;
  margin: 0px;
  font-style: italic;
    border-top: solid #eee 1px;
    border-bottom: solid #eee 1px;
  color: #000;
}
.breadcrumbs a {
  color: #22f;
}
.lefttext {
    text-align: left;
}

.breadcrumbs a:hover {
  color: #000;
}

p.cite {
  text-align: right;
  font-size: small;
  font-style: italic;
}

p.cite, p.cite a {
  color: #666;
}

body {
  margin: 0px;
}

.location {
    fill : red;
    fill-opacity: 1;
    stroke : white;
    stroke-width: 2pt;
}
.label {
    font-family: Helvetica, Geneva, Verdana, sans-serif;
    font-size: 16px;
    text-align: center;
    text-anchor: middle;
}
.pointer {
    pointer-events: none;
    fill: none;
    stroke: #000;
    stroke-dasharray: 5,5;
}
svg {
    cursor: crosshair;
    background-color: none;
}
#zoomDiv {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 50px;
    height: 100px;
    padding: 2px;
    margin: 0px;
    background-color: none;
}
#mapDiv {
}
.zoombutton {
    background-color: #ff0000;
    opacity: .3;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    border: none;
    color: white;
    padding-bottom: 35px;
    display: inline-block;
    margin: 2px;
    cursor: pointer;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 24px;
    text-align: center;
    text-decoration: none;
}
.zoombutton:hover {
    opacity: .7;
}

path {
    fill: none;
    stroke: #aaa;
    stroke-width: 1px;
}
.generic {
    fill: none;
    stroke: #aaa;
    stroke-width: 1px;
}
.hallway {
    fill: #FFEABE;
    stroke: #aaa;
    stroke-width: 1px;
}
.office {
    fill: #BEE8FF;
    stroke: #aaa;
    stroke-width: 1px;
}
.lectureroom {
    fill: #BEFFE8;
    stroke: #aaa;
    stroke-width: 1px;
}
.elevator, .stairs {
    fill: #FFFFBE;
    stroke: #f22;
    stroke-width: 1px;
}
.toilet {
    fill: #F0B0CF;
    stroke: #aaa;
    stroke-width: 1px;
}
.canteen {
    fill: #AEF1B0;
    stroke: #aaa;
    stroke-width: 1px;
}
.library {
    fill: #73DFFF;
    stroke: #aaa;
    stroke-width: 1px;
}
.entryexit {
fill: #F6C567;
    stroke: #aaa;
    stroke-width: 1px;
}
.reception {
    fill: #D68589;
    stroke: #aaa;
    stroke-width: 1px;
}
.closeddoor {
    fill: #E8BEFF;
    stroke: #aaa;
    stroke-width: 1px;
}
.postbox {
    fill: #4EC796;
    stroke: #aaa;
    stroke-width: 1px;
}
.unaccessible, .unwalkable {
    fill: #E1E1E1;
    stroke: #aaa;
    stroke-width: 1px;
}
.arrow {
    fill: #4CE600;
    stroke: #aaa;
    stroke-width: 1px;
}
.roomnr {
    font-family: Helvetica, Geneva, Verdana, sans-serif;
    font-size: 9px;
    text-align: center;
    text-anchor: middle;
}